:root {
    --red: #ec5242
}

body {
    margin: 0;
    scroll-behavior: smooth;
}

html {
    scroll-behavior: smooth;
}

.bg {
    height: 100vh;
    background-image: url(https://assets.nflxext.com/ffe/siteui/vlv3/701eec50-4b87-4dc0-9d00-b0f54025dc36/67801b27-84a3-484f-9805-0b2ce73305a2/NG-en-20220905-popsignuptwoweeks-perspective_alpha_website_large.jpg);
}

.bg1 {
    height: 100vh;
    background-image: url(https://assets.nflxext.com/ffe/siteui/vlv3/701eec50-4b87-4dc0-9d00-b0f54025dc36/67801b27-84a3-484f-9805-0b2ce73305a2/NG-en-20220905-popsignuptwoweeks-perspective_alpha_website_large.jpg);
    margin-bottom: 20px;
}

.bg2 {
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.74);
}
.bg22 {
        height: 100vh;
            display: flex;
            justify-content: center;
            background-color: rgba(0, 0, 0, 0.74);
}

@media (min-width:1000px) {
    .mobile-nav {
        display: none;
    }

    .header {
        display: flex;
        justify-content: space-between;
        padding: 40px;
        align-items: center;
        /* background-color: rgba(0, 0, 0, 0.74); */
    }

    .nav-links {
        display: flex;
        gap: 30px;
    }

    .link {
        font-size: 20px;
        background-color: red;
        padding: 7px 19px;
        border: 1px solid red;
        border-radius: 5px;
        color: white;
        text-decoration: none;
        transition: 0.5s ease-out;
        background: linear-gradient(to right, black 50%, red 50%);
        background-size: 200% 100%;
        background-position: right;
        transition: 0.5s ease-in-out;
    }

    .link:hover {
        background-color: black;
        background-position: left;
    }

    .logo {
        color: red;
        font-size: 40px;
        text-decoration: none;
        transition: 0.5s ease-in-out;
        background-color: white;
        padding: 10px;
        border-radius: 25px;
    }

    .logo:hover {
        color: white;
        background-color: red;
    }

    .headline {
        text-align: center;
        color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        /* margin-top: 250px;
        padding-bottom: 250px; */
    }

    .unlimited {
        font-size: 70px;
        margin: 0;
        font-family: Arial, Helvetica, sans-serif;
    }

    .text {
        font-size: 25px;
        word-spacing: 10px;
    }

    .text2 {
        font-size: 20px;
    }


    .signup {
        margin-top: 20px;
        font-size: 30px;
        background-color: red;
        padding: 20px;
        border: 1px solid red;
        border-radius: 5px;
        color: white;
        text-decoration: none;
        transition: 0.5s ease-out;
        background: linear-gradient(to right, black 50%, red 50%);
        background-size: 200% 100%;
        background-position: right;
    }

    .signup:hover {
        background-color: black;
        background-position: left;
        color: white;
    }

}
.texto {
    font-size: 30px;
}
@media (max-width:999px) {
      .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 30px;
    }
  
    .link {
        font-size: 20px;
        background-color: red;
        padding: 7px 13px;
        border: 1px solid red;
        border-radius: 5px;
        color: white;
        text-decoration: none;
        transition: 0.5s ease-out;
        background: linear-gradient(to right, black 50%, red 50%);
        background-size: 200% 100%;
        background-position: right;
        transition: 0.5s ease-in-out;
    }

    .link:hover {
        background-color: black;
        background-position: left;
    }

    .logo {
        color: red;
        font-size: 25px;
        text-decoration: none;
        transition: 0.5s ease-in-out;
        background-color: white;
        padding: 10px;
        border-radius: 25px;
    }

    .logo:hover {
        color: white;
        background-color: red;
    }

    .headline {
        text-align: center;
        color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 20px;
        /* margin-top: 250px;
        padding-bottom: 250px; */
    }

    .unlimited {
        font-size: 40px;
        margin: 0;
        font-family: Arial, Helvetica, sans-serif;
    }

    .text {
        font-size: 20px;
        word-spacing: 10px;
    }

    .text2 {
        font-size: 20px;
    }

    .signup {
        font-size: 30px;
        background-color: red;
        padding: 20px;
        border: 1px solid red;
        border-radius: 5px;
        color: white;
        text-decoration: none;
        transition: 0.5s ease-out;
        background: linear-gradient(to right, black 50%, red 50%);
        background-size: 200% 100%;
        background-position: right;
    }

    .signup:hover {
        background-color: black;
        background-position: left;
        color: white;
    }

}